.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
}

.text-style{
    display: flex;
    justify-content: center;
    margin-left: 10px;     
    margin-top: 10px;
    color: rgb(241, 197, 35);
    font-family: Nunito;
    font-weight: 200;
    font-size: 35px;
}